* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oranienbaum', serif;
}

.App {
    min-height: 100vh;
    background: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    background-position: center;
    background-size: inherit;
    background-blend-mode: overlay;
    overflow: hidden;
    text-align: center;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

::placeholder {
    color: rgb(107, 107, 107);
    opacity: 1;
    position: relative;
    left: 10px;
    font-size: 16px;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(107, 107, 107);
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(107, 107, 107);
}

.navbar{
    position: absolute;
    z-index: 1;
}