.register {
    display: inline-flex;
    text-align: center;
}

.register__pageTitle {
    position: relative;
    font-size: 35px;
    font-weight: lighter;
    color: rgb(107, 107, 107);
}

.register__logo {
    position: relative;
    bottom: 5px;
    left: 1px;
    width: 120px;
    height: 90px;
}

.register__section {
    display: block;
    background-color: #f8f8f9;
    width: 380px;
    height: 560px;
    padding: 16px;
    border-radius: 10px;
    margin-top: 6rem;
}

.register__form {
    display: block;
    position: relative;
    text-align: center;
}

.register__input {
    position: relative;
    right: 35px;
    padding: 3px;
    width: 300px;
    height: 25px;
    border: 1px solid #f8f8f9;
    border-radius: 15px;
    margin-left: 3.8rem;
    margin-bottom: 1.3rem;
    margin-top: 0.2rem;
}

.register__icon {
    position: relative;
    top: 8px;
    left: 3px;
    margin-right: 1rem;
    font-size: 28px;
}

.register__registerButton {
    display: block;
    padding: 15px;
    width: 180px;
    height: 25px;
    height: 25px;
    background-color: rgb(107, 107, 107);
    border-radius: 20px;
    margin: 1rem 7rem;
    cursor: pointer;
}

.register__buttonLabel {
    position: relative;
    bottom: 12px;
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.register__formLabel {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    margin-right: 13rem;
    font-weight: normal;
    color: rgb(107, 107, 107);
}