.register {
    display: inline-flex;
    text-align: center;
}

.register__sectionContainer {
    display: inline-flex;
}

.register__section {
    display: block;
    background-color: rgb(85, 80, 80);
    width: 460px;
    height: 580px;
    padding: 16px;
    margin-top: 5rem;
    margin-bottom: 2rem;
    margin-right: 4.5rem;
    margin-left: 4.5rem;
}

.register__subSection {
    position: relative;
    bottom: 5px;
    right: 5px;
    background-color: black;
    border: 2px border white;
    width: 435px;
    height: 557px;
    justify-content: center;
}

.register__subSectionTitle {
    position: relative;
    color: white;
    top: 25px;
    font-size: 30px;
    margin-bottom: 1rem;
}

.register__subSectionContent {
    color: white;
    margin: 2rem 1rem;
    font-size: 18px;
}

.register__searchIcon {
    color: white;
    margin-top: 3rem;
    font-size: 50px;
}

.register__logo {
    position: relative;
    top: 10px;
    left: 1px;
    width: 120px;
    height: 90px;
}

.register__form {
    display: block;
    position: relative;
    text-align: center;
}

.register__input {
    position: relative;
    right: 35px;
    padding: 3px;
    width: 350px;
    height: 25px;
    border: 1px solid #f8f8f9;
    border-radius: 15px;
    margin-left: 3.8rem;
    margin-bottom: 1.3rem;
    margin-top: 0.2rem;
}

.register__icon {
    position: relative;
    top: 8px;
    left: 3px;
    margin-right: 1rem;
    font-size: 28px;
}

.register__registerButton {
    display: block;
    padding: 15px;
    width: 180px;
    height: 25px;
    height: 25px;
    background-color: rgb(85, 80, 80);
    border-radius: 20px;
    margin: 1rem 7rem;
    cursor: pointer;
}

.register__buttonLabel {
    position: relative;
    bottom: 12px;
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.register__formLabel {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    margin-right: 18rem;
    font-weight: normal;
    color: white;
}