.success {
    display: inline-flex;
    text-align: center;
    margin-top: 8rem;
}

.success__pageTitle {
    font-size: 40px;
    color: white;
    font-weight: lighter;
}

.success__logo {
    position: relative;
    top: 0px;
    width: 200px;
    height: 150px;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.success__section {
    display: block;
    background-color: black;
    width: 300px;
    height: 250px;
    padding: 16px;
    border-radius: 10px;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.success__icon {
    display: flex;
    position: relative;
    bottom: 10px;
    text-align: center;
    font-size: 35px;
    margin: auto 1rem auto 3rem;
    color: white;
}

.success__links {
    display: flex;
    text-align: center;
    position: relative;
    margin: 0 auto;
    bottom: 30px;
    left: 13px;
    font-size: 16px;
    margin-top: 0px;
    color: white;
    text-decoration: none;
}